<h1> Edit a Task: </h1>

  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title, placeholder: 'Title' %>
    <%= f.input :details, placeholder: 'Details' %>
    <%= f.input :completed %>
    <input type="submit" class="btn btn-light">
  <% end %>

